In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#02. Importing Data

In [3]:
path = r'C:\Users\Janvi\Documents\09-2024 Instacart Basket Analysis'

In [4]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'merge_loop.pkl'))

In [5]:
#calculating Mean for order number

In [6]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [7]:
##generating maximum orders for each users

In [8]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Janvi\AppData\Local\Temp\ipykernel_52188\1681540670.py:1: FutureWarning: The provided callable <function max at 0x0000018A167220C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
##looking at the max orderrs

In [10]:
ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,price_range_loc,Busiest_day,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,mid-range product,NaN,Regularly busy,Most orders,30
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,mid-range product,NaN,Regularly busy,Average orders,30
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,mid-range product,NaN,Busiest day,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,mid-range product,NaN,Least busy,Average orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,mid-range product,NaN,Least busy,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.0,7,0,both,mid-range product,NaN,Busiest day,Average orders,16
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,14,30.0,2,0,both,mid-range product,NaN,Regularly busy,Average orders,3
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,10,30.0,1,0,both,mid-range product,NaN,Least busy,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,20,19.0,1,0,both,mid-range product,NaN,Busiest day,Average orders,18
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,12,15.0,2,1,both,mid-range product,NaN,Busiest day,Average orders,18
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,5,11,NaN,1,0,both,mid-range product,NaN,Regularly busy,Most orders,6
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,13,7.0,1,0,both,mid-range product,NaN,Least busy,Average orders,41
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,13,7.0,3,1,both,mid-range product,NaN,Least busy,Average orders,41
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,12,12.0,4,1,both,mid-range product,NaN,Regularly busy,Average orders,41
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,10,2.0,8,0,both,mid-range product,NaN,Least busy,Most orders,9

In [11]:
##adding flag for loyal customers

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
ords_prods_merge['loyalty_flag'].value_counts(dropna= False)

loyalty_flag
Regular customer    473070
Loyal customer      287917
New customer        239013
Name: count, dtype: int64

In [16]:
##looking at the data

In [17]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,price_range_loc,Busiest_day,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,3.0,5,0,both,mid-range product,NaN,Regularly busy,Most orders,30,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,20.0,1,1,both,mid-range product,NaN,Regularly busy,Average orders,30,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,6.0,20,0,both,mid-range product,NaN,Busiest day,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,NaN,10,0,both,mid-range product,NaN,Least busy,Average orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,9.0,11,1,both,mid-range product,NaN,Least busy,Average orders,3,New customer

In [18]:
##finding spending habits of customers

In [19]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.674593  1.0  24.5
New customer      7.792591  1.0  24.5
Regular customer  7.750368  1.0  24.5

In [20]:
#defining high or low spender customers

In [21]:
ords_prods_merge['mean_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\Janvi\AppData\Local\Temp\ipykernel_52188\72723565.py:1: FutureWarning: The provided callable <function mean at 0x0000018A16722AC0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_product_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [22]:
ords_prods_merge[['user_id', 'mean_product_price']].head(10)

   user_id  mean_product_price
0      138           12.900000
1      138           12.900000
2      709            5.288889
3      764            5.800000
4      764            5.800000
5      777            5.800000
6      825            5.800000
7      910            5.800000
8     1052            7.000000
9     1052            7.000000

In [23]:
#marking as high or low spender

In [24]:
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] >= 10, 'spending_flag'] = 'High spender'

In [25]:
ords_prods_merge.loc[ords_prods_merge['mean_product_price'] <= 10, 'spending_flag'] = 'Low spender'

In [26]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,reordered,_merge,price_range,price_range_loc,Busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,0,both,mid-range product,NaN,Regularly busy,Most orders,30,Regular customer,12.900000,High spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,1,both,mid-range product,NaN,Regularly busy,Average orders,30,Regular customer,12.900000,High spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,0,both,mid-range product,NaN,Busiest day,Average orders,5,New customer,5.288889,Low spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,0,both,mid-range product,NaN,Least busy,Average orders,3,New customer,5.800000,Low spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,1,both,mid-range product,NaN,Least busy,Average orders,3,New customer,5.800000,Low spender

In [27]:
##Finding frequency of purchasing for customer

In [28]:
ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\Janvi\AppData\Local\Temp\ipykernel_52188\2644131335.py:1: FutureWarning: The provided callable <function median at 0x0000018A16875580> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_between_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [29]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,_merge,price_range,price_range_loc,Busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,median_days_between_orders
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,both,mid-range product,NaN,Regularly busy,Most orders,30,Regular customer,12.900000,High spender,6.5
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,both,mid-range product,NaN,Regularly busy,Average orders,30,Regular customer,12.900000,High spender,6.5
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,both,mid-range product,NaN,Busiest day,Average orders,5,New customer,5.288889,Low spender,7.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,both,mid-range product,NaN,Least busy,Average orders,3,New customer,5.800000,Low spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,both,mid-range product,NaN,Least busy,Average orders,3,New customer,5.800000,Low spender,9.0

In [30]:
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] > 20, 'order_frequencey'] = 'Non-frequent customer'

In [31]:
ords_prods_merge.loc[(ords_prods_merge['median_days_between_orders'] <= 20) & (ords_prods_merge['median_days_between_orders'] > 10), 'order_frequency'] = 'Regular customer'

In [32]:
ords_prods_merge.loc[ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequencey'] = 'Frequent customer'

In [33]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,price_range_loc,Busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,median_days_between_orders,order_frequencey,order_frequency
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,NaN,Regularly busy,Most orders,30,Regular customer,12.900000,High spender,6.5,Frequent customer,NaN
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,NaN,Regularly busy,Average orders,30,Regular customer,12.900000,High spender,6.5,Frequent customer,NaN
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,NaN,Busiest day,Average orders,5,New customer,5.288889,Low spender,7.0,Frequent customer,NaN
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,NaN,Least busy,Average orders,3,New customer,5.800000,Low spender,9.0,Frequent customer,NaN
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,NaN,Least busy,Average orders,3,New customer,5.800000,Low spender,9.0,Frequent customer,NaN

In [34]:
ords_prods_merge.drop(columns = ['order_frequency'])

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,price_range,price_range_loc,Busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,median_days_between_orders,order_frequencey
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,mid-range product,NaN,Regularly busy,Most orders,30,Regular customer,12.900000,High spender,6.5,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,mid-range product,NaN,Regularly busy,Average orders,30,Regular customer,12.900000,High spender,6.5,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,mid-range product,NaN,Busiest day,Average orders,5,New customer,5.288889,Low spender,7.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,mid-range product,NaN,Least busy,Average orders,3,New customer,5.800000,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,mid-range product,NaN,Least busy,Average orders,3,New customer,5.800000,Low spender,9.0,Frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2078,Unsalted Pure Irish Butter,36,16,13.5,2280887,102527,prior,25,6,...,mid-range product,NaN,Regularly busy,Average orders,41,Loyal customer,7.737500,Low spender,6.5,Frequent customer
999996,2078,Unsalted Pure Irish Butter,36,16,13.5,3310791,102530,prior,1,4,...,mid-range product,NaN,Least busy,Average orders,3,New customer,13.500000,High spender,17.0,NaN
999997,2078,Unsalted Pure Irish Butter,36,16,13.5,1704867,102530,prior,2,2,...,mid-range product,NaN,Regularly busy,Average orders,3,New customer,13.500000,High spender,17.0,NaN
999998,2078,Unsalted Pure Irish Butter,36,16,13.5,629818,102530,prior,3,6,...,mid-range product,NaN,Regularly busy,Average orders,3,New customer,13.500000,High spender,17.0,NaN
999999,2078,Unsalted Pure Irish Butter,36,16,13.5,2328893,102544,prior,5,5,...,mid-range product,NaN,Regularly busy,Average orders,11,Regular customer,9.450000,Low spender,6.0,Frequent customer

In [74]:
ords_prods_merge['prices'].max()

24.5

In [35]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge8.pkl'))